$app-blue-palette: (
    50 : #e0f6fc,
    100 : #b3e9f7,
    200 : #80daf2,
    300 : #4dcbed,
    400 : #26bfe9,
    500 : #00b4e5,
    600 : #00ade2,
    700 : #00a4de,
    800 : #009cda,
    900 : #008cd3,
    A100 : #fbfdff,
    A200 : #c8eaff,
    A400 : #95d7ff,
    A700 : #7bcdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
    );

    $app-grey-palette: (
    50 : #e7e8ea,
    100 : #c3c7cb,
    200 : #9ba1a9,
    300 : #737b87,
    400 : #555f6d,
    500 : #374353,
    600 : #313d4c,
    700 : #2a3442,
    800 : #232c39,
    900 : #161e29,
    A100 : #6da4ff,
    A200 : #3a84ff,
    A400 : #0764ff,
    A700 : #0059ec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
    );

    $app-red-palette: (
    50 : #ffeaeb,
    100 : #ffcbcd,
    200 : #ffa9ac,
    300 : #ff878a,
    400 : #ff6d71,
    500 : #ff5358,
    600 : #ff4c50,
    700 : #ff4247,
    800 : #ff393d,
    900 : #ff292d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd6d7,
    A700 : #ffbdbe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
    );

      // Foreground palette for light themes.
$application-theme-foreground: (
    base:              #374353,
    divider:           #d3d6d9,
    dividers:          #d3d6d9,
    disabled:          rgba(#374353, 0.4),
    disabled-button:   rgba(#374353, 0.4),
    disabled-text:     rgba(#374353, 0.4),
    hint-text:         rgba(black, 0.38),
    secondary-text:    rgba(black, 0.54),
    icon:              rgba(black, 0.54),
    icons:             rgba(black, 0.54),
    text:              rgba(black, 0.87),
    slider-min:        rgba(black, 0.87),
    slider-off:        rgba(black, 0.26),
    slider-off-active: rgba(black, 0.38),
  );

// Background palette for light themes.
$application-theme-background: (
    status-bar: map_get($mat-grey, 300),
    app-bar:    map_get($mat-grey, 100),
    background: #f0f3f6,
    hover:      rgba(black, 0.04),
    card:       white,
    dialog:     white,
    disabled-button: $black-12-opacity,
    raised-button: white,
    focused-button: $black-6-opacity,
    selected-button: map_get($mat-grey, 300),
    selected-disabled-button: map_get($mat-grey, 400),
    disabled-button-toggle: map_get($mat-grey, 200),
    unselected-chip: map_get($mat-grey, 300),
    disabled-list-option: map_get($mat-grey, 200),
  );

@function mat-app-theme($primary, $accent, $warn: mat-palette($mat-red)) {
    @return (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      is-dark: false,
      foreground: $application-theme-foreground,
      background: $application-theme-background,
    );
  }
