@import "../theme/variables";

$imagesAssetPath: "../../../assets/images" !default;

$background: map_get($application-theme, background);
$foreground: map_get($application-theme, foreground);
$primary: map_get($application-theme, primary);
$warn: map_get($application-theme, warn);
$accent: map_get($application-theme, accent);

$app-white-color : map-get($background, card);
$app-border-color: map-get($foreground, divider);

$app-default-text-color: map-get($foreground, base);
$app-material-bg-color: map-get($background, background);

$app-primary-color: mat-color($primary);

$app-accent-color: mat-color($accent);

$app-warn-color: mat-color($warn);

$growl-palette:(
    warning:#FF8F00,
    alert:#FF5358,
    success:#91BB00,
    information:#00b4e5,
);

$app-disabled-color: map-get($foreground, disabled);

$app-sidebar-zindex : $cdk-z-index-overlay-container - 1;
